/******************************************************************************/
/* General */
/******************************************************************************/
body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 10pt;
	color: #4a4a4a;
}

a {
	color: #85BB50;
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 3px;
}

a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #85BB50;
}

.menu a {
}

.menu .active {
	font-weight: bold;
	text-decoration: underline;
}

.content {
}


}


}

}
