---
layout: default
---

<section class="content cf">
	<div class="wrapper">
		<header class="postheader">
			<h2>{{page.tittle}}</h2>
			<div class="postInfo">
				<time datetime="{{page.date}}">{{page.date | date_to_long_string}}</time>
				<strong> | por {{page.author}}</strong>
			</div><!-- end .postInfo -->
		</header><!-- End .postHeader -->
		<div class="postImage">
			<img src="{{site.url}}/img/{{page.coverImage}}" alt="{{page.tittle}}" />
		</div><!-- end .postImage -->

		<div class="postContent">
			{{content}}
		</div><!-- end .postContent -->

	</div><!-- End .wrapper -->
</section><!-- end .content -->